#### 1. Import Data

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('onlinepurchase.csv')

#### 2. Analyze Data

In [2]:
df.shape

(1022664, 9)

In [3]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'Invoice_time',
       'Price', 'CustomerID', 'Country', 'Purchase_dt'],
      dtype='object')

In [4]:
df['CustomerID'].nunique()

5887

In [5]:
df['StockCode'].nunique()

5288

In [6]:
df['Purchase_dt'].unique()

array(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
       '2010-01-08', '2010-01-10', '2010-01-11', '2010-01-12',
       '2010-01-13', '2010-01-14', '2010-01-15', '2010-01-17',
       '2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
       '2010-01-22', '2010-01-24', '2010-01-25', '2010-01-26',
       '2010-01-27', '2010-01-28', '2010-01-29', '2010-01-31',
       '2010-02-01', '2010-02-02', '2010-02-03', '2010-02-04',
       '2010-02-05', '2010-02-07', '2010-02-08', '2010-02-09',
       '2010-02-10', '2010-02-11', '2010-02-12', '2010-02-14',
       '2010-02-15', '2010-02-16', '2010-02-17', '2010-02-18',
       '2010-02-19', '2010-02-21', '2010-02-22', '2010-02-23',
       '2010-02-24', '2010-02-25', '2010-02-26', '2010-02-28',
       '2010-03-01', '2010-03-02', '2010-03-03', '2010-03-04',
       '2010-03-05', '2010-03-07', '2010-03-08', '2010-03-09',
       '2010-03-10', '2010-03-11', '2010-03-12', '2010-03-14',
       '2010-03-15', '2010-03-16', '2010-03-17', '2010-03-18',
       '2010-03-19', '2010-03-21', '2010-03-22', '2010-03-23',
       '2010-03-24', '2010-03-25', '2010-03-26', '2010-03-28',
       '2010-03-29', '2010-03-30', '2010-03-31', '2010-04-01',
       '2010-04-06', '2010-04-07', '2010-04-08', '2010-04-09',
       '2010-04-11', '2010-04-12', '2010-04-13', '2010-04-14',
       '2010-04-15', '2010-04-16', '2010-04-18', '2010-04-19',
       '2010-04-20', '2010-04-21', '2010-04-22', '2010-04-23',
       '2010-04-25', '2010-04-26', '2010-04-27', '2010-04-28',
       '2010-04-29', '2010-04-30', '2010-05-02', '2010-05-04',
       '2010-05-05', '2010-05-06', '2010-05-07', '2010-05-09',
       '2010-05-10', '2010-05-11', '2010-05-12', '2010-05-13',
       '2010-05-14', '2010-05-16', '2010-05-17', '2010-05-18',
       '2010-05-19', '2010-05-20', '2010-05-21', '2010-05-23',
       '2010-05-24', '2010-05-25', '2010-05-26', '2010-05-27',
       '2010-05-28', '2010-05-30', '2010-06-01', '2010-06-02',
       '2010-06-03', '2010-06-04', '2010-06-06', '2010-06-07',
       '2010-06-08', '2010-06-09', '2010-06-10', '2010-06-11',
       '2010-06-13', '2010-06-14', '2010-06-15', '2010-06-16',
       '2010-06-17', '2010-06-18', '2010-06-20', '2010-06-21',
       '2010-06-22', '2010-06-23', '2010-06-24', '2010-06-25',
       '2010-06-27', '2010-06-28', '2010-06-29', '2010-06-30',
       '2010-07-01', '2010-07-02', '2010-07-04', '2010-07-05',
       '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
       '2010-07-11', '2010-07-12', '2010-07-13', '2010-07-14',
       '2010-07-15', '2010-07-16', '2010-07-18', '2010-07-19',
       '2010-07-20', '2010-07-21', '2010-07-22', '2010-07-23',
       '2010-07-25', '2010-07-26', '2010-07-27', '2010-07-28',
       '2010-07-29', '2010-07-30', '2010-08-01', '2010-08-02',
       '2010-08-03', '2010-08-04', '2010-08-05', '2010-08-06',
       '2010-08-08', '2010-08-09', '2010-08-10', '2010-08-11',
       '2010-08-12', '2010-08-13', '2010-08-15', '2010-08-16',
       '2010-08-17', '2010-08-18', '2010-08-19', '2010-08-20',
       '2010-08-22', '2010-08-23', '2010-08-24', '2010-08-25',
       '2010-08-26', '2010-08-27', '2010-08-29', '2010-08-31',
       '2010-09-01', '2010-09-02', '2010-09-03', '2010-09-05',
       '2010-09-06', '2010-09-07', '2010-09-08', '2010-09-09',
       '2010-09-10', '2010-09-12', '2010-09-13', '2010-09-14',
       '2010-09-15', '2010-09-16', '2010-09-17', '2010-09-19',
       '2010-09-20', '2010-09-21', '2010-09-22', '2010-09-23',
       '2010-09-24', '2010-09-26', '2010-09-27', '2010-09-28',
       '2010-09-29', '2010-09-30', '2010-10-01', '2010-10-03',
       '2010-10-04', '2010-10-05', '2010-10-06', '2010-10-07',
       '2010-10-08', '2010-10-10', '2010-10-11', '2010-10-12',
       '2010-10-13', '2010-10-14', '2010-10-15', '2010-10-17',
       '2010-10-18', '2010-10-19', '2010-10-20', '2010-10-21',
       '2010-10-22', '2010-10-24', '2010-10-25', '2010-10-26',
       '2010-10-27', '2010-10-28', '2010-10-29', '2010-10-31',
       '2010-11-01', '2010-11-02', '2010-11-03', '2010-11-04',
       '2010-11-05', '2010-11-07', '2010-11-08', '2010-11-09',
       '2010-11-10', '2010-11-11', '2010-11-12', '2010-11-14',
       '2010-11-15', '2010-11-16', '2010-11-17', '2010-11-18',
       '2010-11-19', '2010-11-21', '2010-11-22', '2010-11-23',
       '2010-11-24', '2010-11-25', '2010-11-26', '2010-11-28',
       '2010-11-29', '2010-11-30', '2010-12-01', '2010-12-02',
       '2010-12-03', '2010-12-05', '2010-12-06', '2010-12-07',
       '2010-12-08', '2010-12-09', '2010-12-10', '2010-12-12',
       '2010-12-13', '2010-12-14', '2010-12-15', '2010-12-16',
       '2010-12-17', '2010-12-19', '2010-12-20', '2010-12-21',
       '2010-12-22', '2010-12-23', '2011-01-04', '2011-01-05',
       '2011-01-06', '2011-01-07', '2011-01-09', '2011-01-10',
       '2011-01-11', '2011-01-12', '2011-01-13', '2011-01-14',
       '2011-01-16', '2011-01-17', '2011-01-18', '2011-01-19',
       '2011-01-20', '2011-01-21', '2011-01-23', '2011-01-24',
       '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
       '2011-01-30', '2011-01-31', '2011-02-01', '2011-02-02',
       '2011-02-03', '2011-02-04', '2011-02-06', '2011-02-07',
       '2011-02-08', '2011-02-09', '2011-02-10', '2011-02-11',
       '2011-02-13', '2011-02-14', '2011-02-15', '2011-02-16',
       '2011-02-17', '2011-02-18', '2011-02-20', '2011-02-21',
       '2011-02-22', '2011-02-23', '2011-02-24', '2011-02-25',
       '2011-02-27', '2011-02-28', '2011-03-01', '2011-03-02',
       '2011-03-03', '2011-03-04', '2011-03-06', '2011-03-07',
       '2011-03-08', '2011-03-09', '2011-03-10', '2011-03-11',
       '2011-03-13', '2011-03-14', '2011-03-15', '2011-03-16',
       '2011-03-17', '2011-03-18', '2011-03-20', '2011-03-21',
       '2011-03-22', '2011-03-23', '2011-03-24', '2011-03-25',
       '2011-03-27', '2011-03-28', '2011-03-29', '2011-03-30',
       '2011-03-31', '2011-04-01', '2011-04-03', '2011-04-04',
       '2011-04-05', '2011-04-06', '2011-04-07', '2011-04-08',
       '2011-04-10', '2011-04-11', '2011-04-12', '2011-04-13',
       '2011-04-14', '2011-04-15', '2011-04-17', '2011-04-18',
       '2011-04-19', '2011-04-20', '2011-04-21', '2011-04-26',
       '2011-04-27', '2011-04-28', '2011-05-01', '2011-05-03',
       '2011-05-04', '2011-05-05', '2011-05-06', '2011-05-08',
       '2011-05-09', '2011-05-10', '2011-05-11', '2011-05-12',
       '2011-05-13', '2011-05-15', '2011-05-16', '2011-05-17',
       '2011-05-18', '2011-05-19', '2011-05-20', '2011-05-22',
       '2011-05-23', '2011-05-24', '2011-05-25', '2011-05-26',
       '2011-05-27', '2011-05-29', '2011-05-31', '2011-06-01',
       '2011-06-02', '2011-06-03', '2011-06-05', '2011-06-06',
       '2011-06-07', '2011-06-08', '2011-06-09', '2011-06-10',
       '2011-06-12', '2011-06-13', '2011-06-14', '2011-06-15',
       '2011-06-16', '2011-06-17', '2011-06-19', '2011-06-20',
       '2011-06-21', '2011-06-22', '2011-06-23', '2011-06-24',
       '2011-06-26', '2011-06-27', '2011-06-28', '2011-06-29',
       '2011-06-30', '2011-07-01', '2011-07-03', '2011-07-04',
       '2011-07-05', '2011-07-06', '2011-07-07', '2011-07-08',
       '2011-07-10', '2011-07-11', '2011-07-12', '2011-07-13',
       '2011-07-14', '2011-07-15', '2011-07-17', '2011-07-18',
       '2011-07-19', '2011-07-20', '2011-07-21', '2011-07-22',
       '2011-07-24', '2011-07-25', '2011-07-26', '2011-07-27',
       '2011-07-28', '2011-07-29', '2011-07-31', '2011-08-01',
       '2011-08-02', '2011-08-03', '2011-08-04', '2011-08-05',
       '2011-08-07', '2011-08-08', '2011-08-09', '2011-08-10',
       '2011-08-11', '2011-08-12', '2011-08-14', '2011-08-15',
       '2011-08-16', '2011-08-17', '2011-08-18', '2011-08-19',
       '2011-08-21', '2011-08-22', '2011-08-23', '2011-08-24',
       '2011-08-25', '2011-08-26', '2011-08-28', '2011-08-30',
       '2011-08-31', '2011-09-01', '2011-09-02', '2011-09-04',
       '2011-09-05', '2011-09-06', '2011-09-07', '2011-09-08',
       '2011-09-09', '2011-09-11', '2011-09-12', '2011-09-13',
       '2011-09-14', '2011-09-15', '2011-09-16', '2011-09-18',
       '2011-09-19', '2011-09-20', '2011-09-21', '2011-09-22',
       '2011-09-23', '2011-09-25', '2011-09-26', '2011-09-27',
       '2011-09-28', '2011-09-29', '2011-09-30', '2011-10-02',
       '2011-10-03', '2011-10-04', '2011-10-05', '2011-10-06',
       '2011-10-07', '2011-10-09', '2011-10-10', '2011-10-11',
       '2011-10-12', '2011-10-13', '2011-10-14', '2011-10-16',
       '2011-10-17', '2011-10-18', '2011-10-19', '2011-10-20',
       '2011-10-21', '2011-10-23', '2011-10-24', '2011-10-25',
       '2011-10-26', '2011-10-27', '2011-10-28', '2011-10-30',
       '2011-10-31', '2011-11-01', '2011-11-02', '2011-11-03',
       '2011-11-04', '2011-11-06', '2011-11-07', '2011-11-08',
       '2011-11-09', '2011-11-10', '2011-11-11', '2011-11-13',
       '2011-11-14', '2011-11-15', '2011-11-16', '2011-11-17',
       '2011-11-18', '2011-11-20', '2011-11-21', '2011-11-22',
       '2011-11-23', '2011-11-24', '2011-11-25', '2011-11-27',
       '2011-11-28', '2011-11-29', '2011-11-30', '2011-12-01',
       '2011-12-02', '2011-12-04', '2011-12-05', '2011-12-06',
       '2011-12-07', '2011-12-08', '2011-12-09', '2011-12-10',
       '2011-12-11', '2011-12-13', '2011-12-14', '2011-12-15',
       '2011-12-16', '2011-12-17', '2011-12-18', '2011-12-20',
       '2011-12-21', '2011-12-22', '2011-12-23'], dtype=object)

In [7]:
df.duplicated().sum()

11585

In [8]:
df=df.drop_duplicates()
df.shape

(1011079, 9)

In [9]:
df.head(20)

,Invoice,StockCode,Description,Quantity,Invoice_time,Price,CustomerID,Country,Purchase_dt
0,493410,TEST001,This is a test product.,5,2010-01-04 9:24,4.50,12346.0,United Kingdom,2010-01-04
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 9:43,4.25,14590.0,United Kingdom,2010-01-04
2,493412,TEST001,This is a test product.,5,2010-01-04 9:53,4.50,12346.0,United Kingdom,2010-01-04
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 9:54,0.85,NaN,United Kingdom,2010-01-04
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 9:54,3.75,NaN,United Kingdom,2010-01-04
5,493413,21723,ALPHABET HEARTS STICKER SHEET,1,2010-01-04 9:54,0.85,NaN,United Kingdom,2010-01-04
6,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28,2.55,14590.0,United Kingdom,2010-01-04
7,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28,4.25,14590.0,United Kingdom,2010-01-04
8,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28,2.55,14590.0,United Kingdom,2010-01-04
9,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28,4.25,14590.0,United Kingdom,2010-01-04
10,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28,6.95,14590.0,United Kingdom,2010-01-04
11,493414,21531,RETRO SPOT SUGAR JAM BOWL,24,2010-01-04 10:28,2.10,14590.0,United Kingdom,2010-01-04
12,C493415,21527,RETRO SPOT TRADITIONAL TEAPOT,-3,2010-01-04 10:33,7.95,14590.0,United Kingdom,2010-01-04
13,C493426,22109,FULL ENGLISH BREAKFAST PLATE,-1,2010-01-04 10:41,3.39,16550.0,United Kingdom,2010-01-04
14,493427,82483,WOOD 2 DRAWER CABINET WHITE FINISH,4,2010-01-04 10:43,5.95,13287.0,United Kingdom,2010-01-04
15,493427,21681,GIANT MEDINA STAMPED METAL BOWL,2,2010-01-04 10:43,9.95,13287.0,United Kingdom,2010-01-04
16,493427,21682,LARGE MEDINA STAMPED METAL BOWL,4,2010-01-04 10:43,4.95,13287.0,United Kingdom,2010-01-04
17,493427,18096C,WHITE ROUND PORCELAIN TLIGHT HOLDER,6,2010-01-04 10:43,2.55,13287.0,United Kingdom,2010-01-04
18,493427,21577,SAVE THE PLANET COTTON TOTE BAG,6,2010-01-04 10:43,2.25,13287.0,United Kingdom,2010-01-04
19,493427,21576,LETS GO SHOPPING COTTON TOTE BAG,6,2010-01-04 10:43,2.25,13287.0,United Kingdom,2010-01-04

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011079 entries, 0 to 1022663
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Invoice       1011079 non-null  object
 1   StockCode     1011079 non-null  object
 2   Description   1006851 non-null  object
 3   Quantity      1011079 non-null  int64
 4   Invoice_time  1011079 non-null  object
 5   Price         1011079 non-null  float64
 6   CustomerID    781578 non-null   float64
 7   Country       1011079 non-null  object
 8   Purchase_dt   1011079 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 77.1+ MB

In [11]:
df['Quantity'].describe()

count    1.011079e+06
mean     1.010526e+01
std      1.767742e+02
min     -8.099500e+04
25%      1.000000e+00
50%      3.000000e+00
75%      1.000000e+01
max      8.099500e+04
Name: Quantity, dtype: float64

In [12]:
df['Country'].value_counts()

United Kingdom          927374
EIRE                     17454
Germany                  17191
France                   13827
Netherlands               5041
Spain                     3727
Switzerland               3175
Belgium                   3091
Portugal                  2430
Australia                 1868
Channel Islands           1607
Italy                     1502
Sweden                    1359
Norway                    1287
Cyprus                    1125
Finland                   1049
Austria                    921
Denmark                    794
Unspecified                752
Greece                     622
Japan                      562
USA                        534
Poland                     505
United Arab Emirates       500
Israel                     368
Hong Kong                  360
Singapore                  346
Malta                      299
Canada                     228
Iceland                    222
RSA                        169
Lithuania                  154
Bahrain                    126
Brazil                      94
Thailand                    76
Korea                       63
European Community          61
Lebanon                     58
West Indies                 54
Bermuda                     34
Nigeria                     30
Czech Republic              30
Saudi Arabia                10
Name: Country, dtype: int64

In [13]:
df['StockCode'].value_counts()

85123A    5496
22423     4306
85099B    4063
21212     3135
20725     3121
          ...
79057B       1
21104        1
84448        1
20880        1
35630B       1
Name: StockCode, Length: 5288, dtype: int64

We found that：
    - Quantity has negative numbers
    - Description has null, there are test products in the Dataset
    - CustomerID has null
    - Most purchase are from UK

#### 3. Clean Data

- Delete Negative Quantity
- Delete null CustomerID
- Delete null Description
- Delete Description include 'a test product'
- Select Country with only United Kingdom

In [14]:
df = df.loc[df['Quantity'] > 0]

In [15]:
df['CustomerID'].isnull().sum()

225439

In [16]:
df[df['CustomerID'].isnull()].head()

,Invoice,StockCode,Description,Quantity,Invoice_time,Price,CustomerID,Country,Purchase_dt
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 9:54,0.85,NaN,United Kingdom,2010-01-04
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 9:54,3.75,NaN,United Kingdom,2010-01-04
5,493413,21723,ALPHABET HEARTS STICKER SHEET,1,2010-01-04 9:54,0.85,NaN,United Kingdom,2010-01-04
482,493485,72008,FROSTED BOX 9 WHITE T-LIGHT CANDLES,24,2010-01-04 14:48,0.42,NaN,United Kingdom,2010-01-04
483,493485,21589,SWALLOW GIANT TUBE MATCHES,2,2010-01-04 14:48,2.55,NaN,United Kingdom,2010-01-04

Drop NA:

In [17]:
df = df.dropna(subset=['CustomerID'])

In [18]:
df = df.dropna(subset=['Description'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 763716 entries, 0 to 1022663
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice       763716 non-null  object
 1   StockCode     763716 non-null  object
 2   Description   763716 non-null  object
 3   Quantity      763716 non-null  int64
 4   Invoice_time  763716 non-null  object
 5   Price         763716 non-null  float64
 6   CustomerID    763716 non-null  float64
 7   Country       763716 non-null  object
 8   Purchase_dt   763716 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 58.3+ MB

In [20]:
df['Description'].str.contains('a test product').sum()

12

In [21]:
df = df.loc[~df['Description'].str.contains('a test product')]

In [22]:
df = df.loc[df['Country'] == 'United Kingdom']

In [23]:
df['Country'].value_counts()

United Kingdom    685559
Name: Country, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685559 entries, 6 to 1022663
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice       685559 non-null  object
 1   StockCode     685559 non-null  object
 2   Description   685559 non-null  object
 3   Quantity      685559 non-null  int64
 4   Invoice_time  685559 non-null  object
 5   Price         685559 non-null  float64
 6   CustomerID    685559 non-null  float64
 7   Country       685559 non-null  object
 8   Purchase_dt   685559 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 52.3+ MB

In [ ]:
df.to_csv('onlinepurchase_clean.csv', sep='|', index=False)

#### 4. Create user-to-item matrix

In [ ]:
customer_item_matrix = df.pivot_table(
    index='CustomerID', 
    columns='StockCode', 
    values='Quantity',
    aggfunc='sum'
)

In [ ]:
customer_item_matrix.head(20)

In [ ]:
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)

In [ ]:
customer_item_matrix.head(20)

#### 5. Create Collaborative filtering Porduct Recommendation

Use cosine_similarity in scikit-learn to calculate similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))

In [ ]:
user_user_sim_matrix.head()

In [ ]:
user_user_sim_matrix.columns

In [ ]:
user_user_sim_matrix.index

In [ ]:
customer_item_matrix.index

In [ ]:
user_user_sim_matrix.columns = customer_item_matrix.index

In [ ]:
user_user_sim_matrix.head()

In [ ]:
user_user_sim_matrix.index = customer_item_matrix.index

In [ ]:
user_user_sim_matrix.head()

#### 6. Generate recommended product list

According to the last user-to-user matrix:

The similarity of the same user is 1
The similarity between user 12346 and user 12747 is 0.044721; the similarity between user 12748 and user 12346 is 0.058652.

Thus user 12748 is more similar to user 12346 than user 12747

In [ ]:
user_user_sim_matrix.head()

Take a single user (12346.0) as an example:

-First, sort the user's relevance to other users (including the user), from largest to smallest (using .loc[row index]

-Find the most similar other users, here is 17374.0

In [ ]:
user_user_sim_matrix.loc[12346.0].sort_values(ascending=False)

In [ ]:
customer_item_matrix.head()

In [ ]:
customer_item_matrix.loc[12346.0]

In [ ]:
customer_item_matrix.loc[12346.0].to_numpy().nonzero()

In [ ]:
len(customer_item_matrix.loc[12346.0].to_numpy().nonzero())

In [ ]:
customer_item_matrix.loc[12346.0].to_numpy().nonzero()[0]

In [ ]:
customer_item_matrix.loc[12346.0].iloc[customer_item_matrix.loc[12346.0].to_numpy().nonzero()[0]]

In [ ]:
customer_item_matrix.loc[12346.0].iloc[customer_item_matrix.loc[12346.0].to_numpy().nonzero()[0]].index

In [ ]:
items_bought_by_12346 = set(customer_item_matrix.loc[12346.0].iloc[
    customer_item_matrix.loc[12346.0].to_numpy().nonzero()[0]].index) 
print(items_bought_by_12346)

In [ ]:
items_bought_by_17374 = set(customer_item_matrix.loc[17374.0].iloc[
    customer_item_matrix.loc[17374.0].to_numpy().nonzero()[0]
].index)
items_bought_by_17374

-Before recommending, clarify who is recommended

-Here we use 12346.0 as the recommended target, and recommend user 17374.0 to buy items, but user 12346.0 has not purchased

-The final recommended product is obtained by subtracting the two purchase record sets obtained in the previous step

In [ ]:
items_to_recommend_to_12346 = items_bought_by_17374 - items_bought_by_12346
items_to_recommend_to_12346

-Finally, generate a description of the recommended product

In [ ]:
df.loc[df['StockCode'].isin(items_to_recommend_to_12346)][['StockCode', 'Description']]

In [ ]:
df.loc[df['StockCode'].isin(items_to_recommend_to_12346)][['StockCode', 'Description']].drop_duplicates()

#### 7. Streamline recommendation process

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

def get_user_user_sim_matrix(customer_item_matrix):
    
    """
    
    Arguments:
    customer_item_matrix(a Pandas DataFrame with customer as row index and item as column)
    
    Returns:
    user_user_sim_matrix, a Pandas DataFrame with customer as row index and column header, value is the cosine similarity)
    """
    
    user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
    user_user_sim_matrix.columns = customer_item_matrix.index
    user_user_sim_matrix.index = customer_item_matrix.index
    
    return user_user_sim_matrix

In [ ]:
customer_item_matrix.head()

In [ ]:
user_user_sim_matrix = get_user_user_sim_matrix(customer_item_matrix)

In [ ]:
user_user_sim_matrix.head()

In [ ]:
def get_recommendations(target_id, user_user_sim_matrix, customer_item_matrix):
    
    """
    
    Arguments:
    target_id, user_user_sim_matrix, customer_item_matrix
    
    Returns:
    recommend_df, a Pandas DataFrame with target_id, sim_userid, cos_value and recommend_prod
    """
        
    sim_rank = user_user_sim_matrix.loc[target_id].sort_values(ascending=False)
    
    sim_userid = sim_rank.index[1]
    cos_value = sim_rank.iloc[1]
    
    items_bought_by_target_id = set(customer_item_matrix.loc[target_id].iloc[
    customer_item_matrix.loc[target_id].nonzero()[0]].index) 
    
    items_bought_by_sim_userid = set(customer_item_matrix.loc[sim_userid].iloc[
    customer_item_matrix.loc[sim_userid].nonzero()[0]].index) 
    
    items_to_recommend_to_target_id = items_bought_by_sim_userid - items_bought_by_target_id
    
    recommend_df = pd.DataFrame(columns=['target_id', 'sim_userid', 'cos_value'], index=range(len(items_to_recommend_to_target_id)))
    
    recommend_df['target_id'] = target_id
    recommend_df['sim_userid'] = sim_userid
    recommend_df['cos_value'] = cos_value

    recommend_df['recommend_prod'] = list(items_to_recommend_to_target_id)
    
    return recommend_df

In [ ]:
get_recommendations(12746.0, user_user_sim_matrix, customer_item_matrix)